/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
               
}
  
html {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: white;
    background-color: white;
}

.main{
    width: 90%;
    margin: 150px auto;
    color: black;
}



/*Стили для шапки страницы*/
header {
    width: 100%;
    height: 100vh;
    background: url(../images/big_bg.jpg) center no-repeat;
    background-size: cover;
    
}

.logo {
    font-size: 36px;
}

.navbutton, .footbutton {
    text-decoration: none;
    color: white;
}

.navbutton:hover, .navbutton:focus, .navbutton:active,
.footbutton:hover, .footbutton:focus, .footbutton:active {
    color: rgb(60, 60, 60);
}


.container {
    width: 90%;
    height: 65px;
    margin: 0 auto;
    margin-bottom: 150px;
    max-width: 1920px;
    display: flex;
    flex-flow: wrap ;
    justify-content: space-between;
    align-content: center;
}

.navbar {
    display: flex;
    flex-flow: wrap ;
    align-content: center;
}

.navbar div:nth-of-type(1n+2) {
    margin-left: 20px;
}

.container2 {
width: 60%;
margin: 0 auto;
text-align: center;
}


#slogan_name {
    font-size: 45px;
    margin: 0;
}

.slogan p {
    font-size: 18px;
}

.searchbar {
    margin-top: 55px;
    min-height: 70px;
    background-color: white;
    display: flex;
    flex-flow: wrap ;
    justify-content: space-around;
    align-content: center;
    border-radius: 10px;
    padding-left: 5px;
}

.pointer {
    display: flex;
    flex-flow: wrap ;
    align-content: center;
}

.searchbutton {
    position: relative;
    display: flex;
    flex-flow: wrap ;
    align-content: center;
    background-color: #43B97F; 
    border-radius: 5px;
    margin-left: 30px;
    min-height: 40px;
    padding: 0 5px;
    min-width: 125px;
}

.searchbutton a {
    text-decoration: none;
    color: white;
   
}

.searchbutton img {
    position: absolute;
    top: 13px;
    right: 6px;
    padding-left: 10px;
    height: 14px;
    width: 14px;
}

.searchbutton:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
}

.searchbutton:active {
    box-shadow: inset 4px 4px 15px rgba(55, 55, 55, 0.3), inset -4px -4px 15px rgba(55, 55, 55, 0.3);
}

input[type=text] {
    color: black;
    border: none;
    border-right: 1px solid black;
    outline: none;
    padding: 0 10px;
 }

 .searchbar input:nth-last-of-type(1) {
    border: none;
}

:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}


/*Стили для основной части страницы*/

.travelers_point {
    display: flex;
    flex-flow: row ;
    align-content: center;
    margin: 0;
    padding: 0 0 150px 0;
}

.main p {
    margin: 0;
}

.info_section {
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
    margin-top: 25px;
}

.green_one {
    font-weight: 700;
    font-size: 30px;
    color: rgba(41, 89, 67, 1);
}

.p1 {
    color: rgba(41, 89, 67, 1);
}

.text_section2 .p2 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 25px;
}


.text_section {
    padding-right: 60px;

}


.testimonial {
    display: flex;
    flex-flow: column;
}

.chapter {
    margin: 0 auto 60px auto;
    color: rgba(41, 89, 67, 1);
    font-weight: 700;
    font-size: 25px;
}

.reviews_area {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.review {
    width: 410px;
    margin-bottom: 20px;

}

.person {
    position: relative;
}

.name {
    font-weight: 700;
    font-size: 20px;
    float:right;
    position: absolute;
    left: 65px;
    top: 10px;
}


/*Стили для футера (нижнего колонтитула) страницы*/

.footer {
    background-color: #295943;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 30px 0;
    
    
}

.lsc {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer_bio, .links, .services, .contact {
    width: 25%;
}

.links {
    margin-left: 250px ;
}

.footer div p {
    font-weight: bold;
    font-size: 18px;    
}

.contact li {
    list-style-type: none;
}

.contact ul {
    padding: 0;
}

.social_media {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}

 .social_logos img {
    padding-right: 7px;
}

